* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none !important;
}

header .col-2 {
    display: block;
    padding: 33px 0 25px 0;
    transition: all .4s ease 0s;
    float: left !important;
    position: relative;
    margin-left: -80px;
    width: 133px;
    z-index: 1;
}

header .col-2 img {
    height: 42px;
    max-width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    justify-content: start;
    outline: 0;
}

header .col-2 a {
    zoom: 1;
    color: #4b4e53;
    outline: 0 !important;
    text-decoration: none;
    transition: all .3s ease 0s;
}

header .col-2 a::before {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

header .col-2 a::after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
}

header .col-10 {
    float: right;
}

header .col-10 .current a {
    padding: 38px 3px 5px 3px;
    margin: 0 12px 17px 12px;
    border-bottom: 2px solid #2d4e53;
    color: #4b4e53;
    letter-spacing: 2px;
    background-color: transparent;
}

header .col-10 li a {
    font-size: 12px;
    color: #5c6066;
    z-index: 1;
    text-shadow: none;
    letter-spacing: 2px;
    transition: padding .4s ease 0s, border-color .6s ease 0s;
    transform: translateZ(0);
    line-height: 20px;
}

header .col-10 {
    margin-left: 120px !important;
    margin: 33px 0 25px 0;
}

header .col-10 li .search::before {
    top: 11px;
    left: 11px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #4b4e53;
}

header .col-10 li .search::after {
    height: 1px;
    width: 8px;
    background: #4b4e53;
    bottom: 16px;
    right: 13px;
    transform: rotate(45deg);
}

header .col-10 li .search i {
    font-size: 14px;
}

#creative {
    margin-bottom: 100px;
    margin-top: 100px;
}

#creative .col-4 img {
    max-width: 100%;
    height: auto;
    border: 0;
}

#creative .col-8 .title {
    color: #4b4e53;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 300;
}

#creative .col-8 .title .bold {
    font-weight: 700 !important;
}

.line-3-100 {
    margin-top: 15px;
    height: 3px;
    width: 100px;
    background: #4b4e53;
}

#creative .col-8 .title-content {
    margin: 30px 0 40px 0;
}

#creative .col-6 .fes-box {
    position: relative;
    padding-left: 55px;
    padding-bottom: 10px;
}

#creative .col-6 .fes-box-icon {
    position: absolute;
    top: 0;
    left: 0;
    color: #4b4e53;
    font-size: 35px;
}

#creative .col-6 .icon-basic-mixer::before {
    content: "\e1ac";
}

.row:before {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

#creative .col-6 .fes-box h3 {
    color: #4b4e53;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#creative .col-6 .fes-box p {
    margin: 0 0 10px;
    color: #7e8082;
}

.icon-basic-lightbulb:before {
    content: "\e19b";
}

.icon-basic-settings:before {
    content: "\e1c3";
}

.icon-basic-helm:before {
    content: "\e192";
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#responsive {
    border-top: 1px solid #7e8082;
    border-bottom: 1px solid #7e8082;
    margin-bottom: 100px;
}

#responsive .col-6 .title-content {
    margin: 0 auto;
    padding: 145px 50px 140px 50px;
    max-width: 500px;
}

#responsive .col-6 .title-content .title {
    color: #4b4e53;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 45px;
    line-height: 45px;
    font-weight: 300;
}

.bold {
    font-weight: 700 !important;
}

.line-3-70 {
    margin-top: 11px;
    height: 3px;
    width: 70px;
    background: #4b4e53;
}

#responsive .fes-text-content {
    margin-top: 30px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #7e8082;
    line-height: 25px;
    font-weight: 300;
}

.fes2-img {
    background: url('../assets/img/fes2.jpg') 50% 50% no-repeat;
    width: 100%;
    display: block;
    position: relative;
    background-size: cover;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 473px;
    background-position: center center;
}
.fes3-img{
    background: url('../assets/img/fes3.jpg') 50% 50% no-repeat;
    width: 100%;
    display: block;
    position: relative;
    background-size: cover;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 473px;
    background-position: center center;
}
#ourservices{
    margin-bottom: 100px
}
#ourservices .fes-box h2{
    margin-left: -60px;
    padding: 22px 25px 24px 25px;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    color: #4b4e53;
    border-left: #4b4e53 2px solid;
}
#ourservices .fes-title-content h3{
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    color: #4b4e53;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
}
#ourservices .col-4 .fes-box{
    position: relative;
    padding-left: 70px;
    padding-bottom: 15px;
}
#ourservices .col-4 .fes-box-icon{
    position: absolute;
    top: 7px;
    left: 0;
    color: #4b4e53;
    font-size: 45px;
}
.icon-basic-settings:before {
    content: "\e1c3";
}
#ourservices .fes-box h3{
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    color: #4b4e53;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
}
#ourservices .fes-box p{
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 25px;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-weight: 400;
    color: #7e8082;
}
.icon-basic-share:before {
    content: "\e1c4";
}
#ourservices .fes-box-desc{
    color: #7e8082;
    font-size: 14px;
    line-height: 25px;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-weight: 400;

}
.icon-basic-target:before {
    content: "\e1d3";
}
.icon-basic-globe:before {
    content: "\e18c";
}
.icon-basic-picture:before {
    content: "\e1b5";
}
#picture .col-4 img{
    width: 100%;
    display: block;
    overflow: hidden;   transition: all .3s cubic-bezier(.3,.1,.58,1);
    max-width: 100%;
    height: auto;
}
 .view-more{
    margin-top: -1px;
    text-align: center;
}
 .view-more a{
    display: block;
    padding-top: 40px;
    padding-bottom: 37px;
    background: #eee;
    font-family: Lato,Arial,Helvetica,sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #4b4e53;
    outline: 0!important;
    font-weight: 100;
    transition: all .3s ease 0s;
}
 .view-more a:hover{
    background: #dedede;
    color: #4b4e53;
}
#picture{
    margin-bottom: 100px;
}
#clients{
    margin-top: 100px;
    margin-bottom: 100px;
}
#clients .fes-box{
    margin-bottom: 50px;
}
#clients .fes-box h2{
    margin: 0;
    padding: 22px 25px 24px 25px;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    color: #4b4e53;
    border-left: #4b4e53 2px solid;
}
#clients .client-row .col-3{
    border-bottom: 1px solid #eee !important;
}
#clients .col-3 img{
    height: 100px;
    padding-right: 30px;
    padding-bottom: 10px;
    border-right: 1px solid #eee;
    max-width: 100%;
}
#clients blockquote{
    padding: 10px 20px;
    font-style: normal;
    border: none!important;
    position: relative;
    font-size: 14px;
    font-family: Lato,Arial,Helvetica,sans-serif;
    line-height: 32px;
    color: #4b4e53;
    font-weight: 100;
    margin: 0 0 20px;
}
#clients blockquote p{
    margin-bottom: 24px;
    color: #4b4e53;
    font-family: Lato,Arial,Helvetica,sans-serif;
    font-size: 21px;
    line-height: 32px;
    font-weight: 100;
    font-style: normal;
}
#clients blockquote footer{
    font-size: 14px;
    color: #7e8082;
    font-style: normal;
}
#clients blockquote footer:before{
    content: '\2014 \00A0';
}
#process{
    will-change: background-position;
    margin: 0;
    padding-top: 130px;
    padding-bottom: 80px;
    background: #2c2c2c url('../assets/img/work-proc-bg.jpg') fixed;
    color: #f1f1f1;
}
 .title-content h2{
    color: #f1f1f1;
    border-color: #f1f1f1;
    margin: 0;
    padding: 22px 25px 24px 25px;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    border-left: #f1f1f1 2px solid;
}
 .title-content p{
    color: #d3d4d5;
    margin-bottom: 50px;
    margin-top: 50px;
}
.icon-basic-lightbulb:before {
    content: "\e19b";
}
#process .fes-box {
    margin-bottom: 50px;
}
#process .fes-box h3{
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    color: #f1f1f1;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
}
.icon-basic-gear:before {
    content: "\e189";
}
.icon-basic-laptop:before {
    content: "\e199";
}
.icon-basic-paperplane:before {
    content: "\e1b1";
}
#process .fes-box-icon{
    top: 7px;
    position: relative;
    margin-left: 0;
    font-size: 45px;
}
#team{
    padding-top: 100px;
    background: #f4f4f4;
    padding-bottom: 100px;
}