* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none !important;
}

header {
    background-color: white;
    padding-left: 100px;
    width: 100%;
}

header .col-2 {
    display: block;
    padding: 33px 0 25px 0;
    transition: all .4s ease 0s;
    float: left !important;
    position: relative;
    margin-left: -80px;
    width: 133px !important;
    z-index: 1;
}

header .col-2 img {
    height: 42px;
    max-width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    justify-content: start;
    outline: 0;
}

header .col-2 a {
    zoom: 1;
    color: #4b4e53;
    outline: 0 !important;
    text-decoration: none;
    transition: all .3s ease 0s;
}

header .col-2 a::before {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

header .col-2 a::after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
}

header .col-10 {
    float: right;
}

header .col-10 .current .current {
    padding: 38px 10px 5px 5px;
    border-bottom: 2px solid #2d4e53;
    color: #4b4e53;
    letter-spacing: 2px;
    z-index: 905;
    background-color: transparent;
}

header .col-10 .current .sub .current:hover {
    color: #fff;
    padding: 0 12px 0px 12px;
}

header .col-10 .current .currentt:hover {
    padding: 0 12px 0px 12px;
    color: #fff;
}

header .col-10 ul li .sub {
    background: #4b4e53;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
    display: block;
    margin-top: 40px;
    padding: 10px 10px 10px 24px;
    position: absolute;
    z-index: 905;
}

header .col-10 ul li .sub .parent {
    position: relative;
}

header .col-10 ul li .sub li {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
}

header .col-10 ul li .sub a.current {
    color: #fff !important;
    transition: all .2s ease 0s;
    border: 0;
}

header .col-10 ul li .sub .sub {
    left: 100%;
    top: -10px;
    opacity: 0;
}

header .col-10 ul li .sub .parent .current:hover header .col-10 ul li .sub .sub {
    opacity: 1;
}

header .col-10 .sub {
    background: #4b4e53;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
    display: block;
    margin: 0;
    padding: 10px 10px 10px 24px;
    position: absolute;
    z-index: 905;
}

header .col-10 .label-new {
    margin-left: 5px;
    background-color: #fde801;
    color: #2a2b2f !important;
    transition-property: all !important;
    padding: 4px 6px 4px 5px;
    font-size: 9px;
    font-weight: 700;
    line-height: 21px;
    vertical-align: middle;
}

header .col-10 .sub .sub a {
    padding-right: 50px;
}

header .col-10 .sub a {
    color: #d3d3d3;
}

header .col-10 li a {
    font-size: 12px;
    color: #5c6066;
    z-index: 1;
    text-shadow: none;
    letter-spacing: 2px;
    transition: padding .4s ease 0s, border-color .6s ease 0s;
    transform: translateZ(0);
    line-height: 20px;
}

header .col-10 {
    margin-left: 120px !important;
    margin: 33px 0 25px 0;
}

header .col-10 li .search::before {
    top: 11px;
    left: 11px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #4b4e53;
}

header .col-10 li .search::after {
    height: 1px;
    width: 8px;
    background: #4b4e53;
    bottom: 16px;
    right: 13px;
    transform: rotate(45deg);
}

header .col-10 li .search i {
    font-size: 14px;
}

#creative {
    margin-bottom: 100px;
    margin-top: 100px;
}

#creative .col-4 img {
    max-width: 100%;
    height: auto;
    border: 0;
}

#creative .col-8 .title {
    color: #4b4e53;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 300;
}

#creative .col-8 .title .bold {
    font-weight: 700 !important;
}

.line-3-100 {
    margin-top: 15px;
    height: 3px;
    width: 100px;
    background: #4b4e53;
}

#creative .col-8 .title-content {
    margin: 30px 0 40px 0;
}

#creative .col-6 .fes-box {
    position: relative;
    padding-left: 55px;
    padding-bottom: 10px;
}

#creative .col-6 .fes-box-icon {
    position: absolute;
    top: 0;
    left: 0;
    color: #4b4e53;
    font-size: 35px;
}

#creative .col-6 .icon-basic-mixer::before {
    content: "\e1ac";
}

.row:before {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

#creative .col-6 .fes-box h3 {
    color: #4b4e53;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#creative .col-6 .fes-box p {
    margin: 0 0 10px;
    color: #7e8082;
}

.icon-basic-lightbulb:before {
    content: "\e19b";
}

.icon-basic-settings:before {
    content: "\e1c3";
}

.icon-basic-helm:before {
    content: "\e192";
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#responsive {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    margin-bottom: 100px;
}

#responsive .col-6 .title-content {
    margin: 0 auto;
    padding: 145px 50px 140px 50px;
    max-width: 500px;
}

#responsive .col-6 .title-content .title {
    color: #4b4e53;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 45px;
    line-height: 45px;
    font-weight: 300;
}

.bold {
    font-weight: 700 !important;
}

.line-3-70 {
    margin-top: 11px;
    height: 3px;
    width: 70px;
    background: #4b4e53;
}

#responsive .fes-text-content {
    margin-top: 30px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #7e8082;
    line-height: 25px;
    font-weight: 300;
}

.fes2-img {
    background: url('../assets/img/fes2.jpg') 50% 50% no-repeat;
    width: 100%;
    display: block;
    position: relative;
    background-size: cover;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 473px;
    background-position: center center;
}

.fes3-img {
    background: url('../assets/img/fes3.jpg') 50% 50% no-repeat;
    width: 100%;
    display: block;
    position: relative;
    background-size: cover;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 473px;
    background-position: center center;
}

#ourservices {
    margin-bottom: 100px
}

#ourservices .fes-box h2 {
    margin-left: -60px;
    padding: 22px 25px 24px 25px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    color: #4b4e53;
    border-left: #4b4e53 2px solid;
}

#ourservices .fes-title-content h3 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #4b4e53;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
}

#ourservices .col-4 .fes-box {
    position: relative;
    padding-left: 70px;
    padding-bottom: 15px;
}

#ourservices .col-4 .fes-box-icon {
    position: absolute;
    top: 7px;
    left: 0;
    color: #4b4e53;
    font-size: 45px;
}

.icon-basic-settings:before {
    content: "\e1c3";
}

#ourservices .fes-box h3 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #4b4e53;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
}

#ourservices .fes-box p {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 25px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #7e8082;
}

.icon-basic-share:before {
    content: "\e1c4";
}

#ourservices .fes-box-desc {
    color: #7e8082;
    font-size: 14px;
    line-height: 25px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;

}

.icon-basic-target:before {
    content: "\e1d3";
}

.icon-basic-globe:before {
    content: "\e18c";
}

.icon-basic-picture:before {
    content: "\e1b5";
}

#picture .col-4 img {
    width: 100%;
    display: block;
    overflow: hidden;
    transition: all .3s cubic-bezier(.3, .1, .58, 1);
    max-width: 100%;
    height: auto;
}

#picture .post-overlay {
    padding: 50px !important;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 2;
    transition: all .3s cubic-bezier(.3, .1, .58, 1);
    margin: 0;
    border: 0;
    outline: 0;
}

#picture .post-overlay .title-content {
    transition: all .4s cubic-bezier(.3, .1, .58, 1);
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

#picture .post-overlay .title-content h3 {
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #4b4e53;
}

#picture .post-overlay .title-content h3 a {
    color: #fff;
    outline: 0 !important;
    transition: all .3s ease 0s;
}

#picture .post-overlay .title-content span a {
    color: #bebebe;
    font-size: 12px;
    text-transform: uppercase;
}

#picture .post-overlay .btn-content a {
    color: #bebebe;
    font-size: 18px;
}

#picture .post-overlay .title-content span a:hover {
    color: #fff;
}

#picture .post-overlay .btn-content a:hover {
    color: #fff;
}

.view-more {
    margin-top: -1px;
    text-align: center;
}

.view-more a {
    display: block;
    padding-top: 40px;
    padding-bottom: 37px;
    background: #eee;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #4b4e53;
    outline: 0 !important;
    font-weight: 100;
    transition: all .3s ease 0s;
}

.view-more a:hover {
    background: #dedede;
    color: #4b4e53;
}

#picture {
    margin-bottom: 100px;
}

#clients {
    margin-top: 100px;
    margin-bottom: 100px;
}

#clients .fes-box {
    margin-bottom: 50px;
}

#clients .fes-box h2 {
    margin: 0;
    padding: 22px 25px 24px 25px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    color: #4b4e53;
    border-left: #4b4e53 2px solid;
}

#clients .client-row .col-3 {
    border-bottom: 1px solid #eee !important;
}

#clients .col-3 img {
    height: 100px;
    padding-right: 30px;
    padding-bottom: 10px;
    border-right: 1px solid #eee;
    max-width: 100%;
}

#clients blockquote {
    padding: 10px 20px;
    font-style: normal;
    border: none !important;
    position: relative;
    font-size: 14px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    line-height: 32px;
    color: #4b4e53;
    font-weight: 100;
    margin: 0 0 20px;
}

#clients blockquote p {
    margin-bottom: 24px;
    color: #4b4e53;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 21px;
    line-height: 32px;
    font-weight: 100;
    font-style: normal;
}

#clients blockquote footer {
    font-size: 14px;
    color: #7e8082;
    font-style: normal;
}

#clients blockquote footer:before {
    content: '\2014 \00A0';
}

#process {
    will-change: background-position;
    margin: 0;
    padding-top: 130px;
    padding-bottom: 80px;
    background: #2c2c2c url('../assets/img/work-proc-bg.jpg') fixed;
    color: #f1f1f1;
}

.title-content h2 {
    color: #f1f1f1;
    border-color: #f1f1f1;
    margin: 0;
    padding: 22px 25px 24px 25px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    border-left: #f1f1f1 2px solid;
}

.title-content p {
    color: #d3d4d5;
    margin-bottom: 50px;
    margin-top: 50px;
}

.icon-basic-lightbulb:before {
    content: "\e19b";
}

#process .fes-box {
    margin-bottom: 50px;
}

#process .fes-box h3 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #f1f1f1;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
}

.icon-basic-gear:before {
    content: "\e189";
}

.icon-basic-laptop:before {
    content: "\e199";
}

.icon-basic-paperplane:before {
    content: "\e1b1";
}

#process .fes-box-icon {
    top: 7px;
    position: relative;
    margin-left: 0;
    font-size: 45px;
}

#team {
    padding-top: 100px;
    background: #f4f4f4;
}

#counter {
    padding-top: 100px;
    border-bottom: 1px solid #dadada !important;
    padding-bottom: 100px;
}

#counter .col-3 {
    border-right: 1px solid #dadada;
    text-align: center;
}

#counter .count-number {
    margin-top: 17px;
    font-size: 45px;
    line-height: 45px;
    color: #4b4e53;
    font-weight: 100;
}

#counter .count-desc {
    margin-top: 10px;
    margin-bottom: 10px;
}

#counter .count-desc span {
    font-size: 14px;
    color: #7e8082;
}

#mobile {
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #dadada;
}

#mobile .title {
    color: #4b4e53;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 45px;
    line-height: 45px;
    font-weight: 300;
}

#mobile .fes-text {
    margin-top: 30px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    color: #7e8082;
}

#mobile .button {
    margin-top: 30px;
}

#mobile .button a {
    padding: 8px 35px 8px 35px !important;
    position: relative;
    display: inline-block;
    background-color: transparent;
    color: #7a7b80 !important;
    border: 2px solid #c5c2c2;
    transition: all .3s ease 0s;
}

#mobile .button a:hover {
    background-color: #4b4e53 !important;
    border: 2px solid #4b4e53 !important;
    color: #fff !important;
}

#option {
    padding-top: 100px;
    padding-bottom: 100px;
}

#option .title {
    color: #4b4e53;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 45px;
    line-height: 45px;
    font-weight: 300;
}

#option .fes-text {
    margin-top: 30px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    color: #7e8082;
}

#option .button {
    margin-top: 30px;
}

#option .button a {
    padding: 8px 35px 8px 35px !important;
    position: relative;
    display: inline-block;
    background-color: transparent;
    color: #7a7b80 !important;
    border: 2px solid #c5c2c2;
    transition: all .3s ease 0s;
}

#option .button a:hover {
    background-color: #4b4e53 !important;
    border: 2px solid #4b4e53 !important;
    color: #fff !important;
}

#becreative {
    will-change: background-position;
    margin: 0;
    background: #2c2c2c url('../assets/img/work-proc-bg.jpg') fixed;
    padding-top: 70px;
    padding-bottom: 70px;
}

#becreative .row {
    margin: 0 auto;
    text-align: center;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 100;
    color: #f1f1f1;
}

#becreative .row::before {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

#becreative span a {
    display: inline-block;
    padding: 20px;
    font-size: 80px;
    line-height: 63px;
    color: #fff;
    vertical-align: middle;
}

#news {
    padding-top: 100px;
    padding-bottom: 100px
}

#news .title {
    color: #4b4e53;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 45px;
    line-height: 45px;
    font-weight: 300;
}

#news .fes-text {
    margin-top: 30px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    color: #7e8082;
}

#news .button {
    margin-top: 30px;
}

#news .button a {
    padding: 8px 35px 8px 35px !important;
    position: relative;
    display: inline-block;
    background-color: transparent;
    color: #7a7b80 !important;
    border: 2px solid #c5c2c2;
    transition: all .3s ease 0s;
}

#news .button a:hover {
    background-color: #4b4e53 !important;
    border: 2px solid #4b4e53 !important;
    color: #fff !important;
}

#news h2 a {
    float: right;
    font-size: 14px;
    font-weight: 400;
    color: #7e8082;
}

#slider {
    background: url('../assets/img/sky.jpg');
    background-size: 100%;
    padding-top: 200px;
    padding-bottom: 100px;
}

#slider .title h3 {
    z-index: 7;
    white-space: nowrap;
    transition: all 0s ease 0s;
    min-height: 0px;
    min-width: 0px;
    line-height: 39px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-size: 34px;
    left: 701.843px;
    top: 99.3457px;
    visibility: visible;
    opacity: 1;
    color: #4b4e53;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 300;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);
}

#slider .title h3 span {
    font-weight: 900;
}

#slider .button .buy-now {
    color: #fff;
    background-color: #535961;
    padding: 10px 37px 10px 37px;
    display: inline-block;
    border: none;
    border-radius: 2px;
    transition: all .3s ease 0s;
}

#slider .button .readmore {
    padding: 8px 35px 8px 35px !important;
    background-color: transparent;
    color: #7a7b80;
    transition: all .3s ease 0s;
    border: 2px solid #c5c2c2;
}

#slider .button .buy-now:hover {
    background-color: #101010;
}

#slider .button .readmore:hover {
    background-color: #4b4e53 !important;
    border: 2px solid #4b4e53 !important;
    color: #fff !important;
}

#news .col-4 {
    padding-top: 70px;
}

#news .col-4 .post-img {
    margin-bottom: 25px;
}

#news .col-4 .post-img img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

#news .col-4 .post-title h3 {
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}

#news .col-4 .post-title a {
    color: #4b4e53 !important;
}

#news .col-4 .post-info {
    color: #a3a6a8;
    margin-bottom: 14px;
    font-size: 13px;
    text-transform: uppercase;
}

#news .col-4 .post-info a {
    color: #a3a6a8;
}

#news .col-4 .post-text {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    color: #7e8082;
}

#news .post-img a:hover {
    opacity: .6;
}

#news .col-4 .left {
    float: left;
}

#news .col-4 .right {
    float: right;
}

#news .left .readmore a {
    font-weight: 600;
    color: #4b4e53;
    outline: 0 !important;
}

#news .left .readmore a:hover {
    color: #97999c;
    cursor: pointer;
}

#news .right a span {
    font-size: 12px;
    margin-left: 7px;
}

#news .right a {
    margin-left: 12px;
    font-size: 12px;
    color: #7e8082 !important;
}

footer #email form {
    float: right;
    border: none;
    margin: 0;
    padding: 0;
}

footer #email form .email {
    border: none;
    border-bottom: 1px solid #a6a7a9;
    border-radius: 0;
    background: 0 0;
    color: #4b4e53;
    width: 350px;
    margin-right: 80px;
    margin-bottom: 30px;
    font-size: 21px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: lighter;
    border-color: #4b4e53;
    margin: 0;
    outline: medium none;
    padding: 8px 20px 8px 0;
}

footer #email form .button {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
    color: #fff;
    background-color: #535961;
    padding: 10px 37px 10px 37px;
    display: inline-block;
    border: none;
    border-radius: 2px;
    transition: all .3s ease 0s;
    outline: 0;
    position: relative;
}

footer #email {
    padding-top: 80px;
    padding-bottom: 45px;
    background: #eee;
}

footer #email form .button:hover {
    background-color: #101010;
}

footer #footer {
    padding-top: 60px;
    color: #7e8082;
}

footer #footer .container {
    border-bottom: 1px solid #dadada;
    padding-bottom: 60px;
}

footer #footer .logo {
    margin-bottom: 50px;
}

footer #footer .logo img {
    max-height: 60px;
    max-width: 100%;
    height: auto;
}

footer #footer .footer-text {
    margin-bottom: 24px;
}

footer #footer .footer-text address {
    font-style: normal;
    font-weight: 400;
}

footer #footer a {
    color: #7e8082;
}

footer .col-3 h4 {
    margin-top: 16px;
    margin-bottom: 21px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: normal;
    color: #4b4e53;
    line-height: 25px;
    margin: 21px 0 19px 0;
}

footer .col-3 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 700 !important;
}

footer .col-3 ul li {
    padding-bottom: 7px;
}

footer .second a {
    font-size: 14px;
    line-height: 25px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

footer .post-title h3 {
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    color: #4b4e53;
}

footer .post-title h3 a {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #7e8082;
}

footer .post-info {
    text-transform: none;
    color: #a3a6a8;
    line-height: 18px;
    margin-bottom: 14px;
    font-size: 13px;
}

footer #cont {
    padding-top: 30px;
}

footer #cont .col-2 {
    float: left;
}

footer #cont .col-3 {
    float: right;
}

footer #cont .col-2 a {
    font-size: 11px;
    color: #7e8082;
}

footer #cont .col-3 a {
    font-size: 16px !important;
    padding: 7px 11px !important;
    color: #4b4e53;
}

.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

/* PORTFOLIO GRID */
#page-small {
    background-color: #eee;
    padding-top: 60px;
    padding-bottom: 60px;
}

#page-small .col-8 h1 {
    font-size: 24px;
    color: #4b4e53;
    line-height: 25px;
    letter-spacing: 5px !important;
    font-weight: 400;
    text-transform: uppercase;
}

#page-small .breadcrumpt {
    text-align: right;
    font-size: 11px;
    letter-spacing: 2px;
    color: #7e8082;
    text-transform: uppercase;
}

#page-small .breadcrumpt a {
    color: #7e8082;
}

#development {
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #dadada;
}

#development .col-4 h2 {
    margin-bottom: 30px !important;
    margin: 0;
    padding: 15px 20px 17px 23px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 32px;
    color: #4b4e53;
    border-left: #4b4e53 2px solid;
}

#development .col-4 p {
    margin: 0 0 10px;
    color: #7e8082;
}

#development .col-8 .post-img img {
    transition: all .3s cubic-bezier(.3, .1, .58, 1);
    width: 100%;
    display: block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

/* 4 COLUMN */
#light-bg {
    background-color: #eee;
}

#light-bg .container {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-top: 50px;
    background-color: #fff;
}

#light-bg .filter {
    list-style: none;
    padding: 0;
    margin: 0 0 45px 0;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #555;
    cursor: default;
}

#light-bg .filter a.active {
    color: #101010;
    border-color: #101010;
    cursor: default;
}

#light-bg .filter a {
    display: inline-block;
    margin: 0 21px;
    margin-bottom: 5px;
    color: #999;
    border-bottom: 1px solid transparent;
    transition: all .27s cubic-bezier(0, 0, .58, 1);
}

#light-bg .filter a:hover {
    color: #101010;
    cursor: pointer;
}

#light-bg .img {
    position: relative;
    height: 832.5px;
}

/* #light-bg .img .col-3{
    position: absolute;
    left: 0px;
    top: 0px;
} */
#light-bg .img .col-3 a {
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#light-bg .img .col-3 a .post-img {
    position: relative;
    overflow: hidden;
}

#light-bg .img .col-3 a .post-img img {
    transition: all .3s cubic-bezier(.3, .1, .58, 1);
    width: 100%;
    display: block;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    -webkit-transition: all .3s cubic-bezier(.3, .1, .58, 1);
}

#light-bg .post-overlay {
    padding: 30px;
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    display: none;
    width: 255px;
    ;
    height: 250px;
    opacity: 0.8;
    z-index: 2;
    transition: all .3s cubic-bezier(.3, .1, .58, 1);
    margin: 0;
    border: 0;
    outline: 0;
    /* padding-top: 20px; */
}

#light-bg .img .col-3:hover .post-overlay {
    display: block;

}

#light-bg .img .col-3:hover .post-img img {
    transform: scale(1.3) translateZ(0);

}

#light-bg .post-img::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0);
    transition: all .27s cubic-bezier(.3, .1, .58, 1);
}

#light-bg .post-overlay h3 a {
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: white;
    font-weight: 600;
}

#light-bg .post-overlay i {
    color: #bebebe;
}

#light-bg .post-overlay i:hover {
    color: #fff;
}

#light-bg .post-overlay span {
    color: #bebebe;
    display: flex;
    flex-direction: row;
}

#light-bg .post-overlay span a {
    color: #bebebe;
    font-size: 12px;
    text-transform: uppercase;
}

#light-bg .post-overlay span a:hover {
    color: #fff;
}

/* SHOP-SINGLE */
#single {
    padding-top: 140px;
    padding-bottom: 140px;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

#single .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#single .row {
    margin-right: -15px;
    margin-left: -15px;
}

#single .col-4 {
    margin-bottom: 50px;
}

#single .img {
    margin-bottom: 25px;
}

#single .img img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

#single .img a:hover {
    opacity: .6;
}

#single .sale {
    position: absolute;
    margin-top: -500px;
    margin-left: 300px;
    font-size: 13px;
}

#single .sale span {
    display: inline-block;
    padding-top: 17px;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    background: #ffea00;
    color: #4b4e53;
}

#single .img-row .col-4 {
    margin-bottom: -25px;
    width: 33.33333333%;
}

#single .img-row .col-4 a:hover {
    opacity: .6;
}

#single .img-row .col-4 img {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
    margin: 0;
    padding: 0;
}

#single .col-8 h3 {
    font-size: 24px;
    letter-spacing: normal;
    line-height: 33px;
    margin: 26px 0 16px 0;
}

#single .col-8 .col-6 {
    margin-bottom: 30px !important;
}

#single .col-8 .col-6 strong {
    font-size: 24px;
    color: #4b4e53;
}

#single .col-8 .col-6 span {
    color: #4b4e53 !important;
}

#single .col-8 .col-6 i {
    font-size: 12px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

#single .col-6 form select {
    border: 1px solid #dedede;
    font-size: 12px;
    text-transform: uppercase;
    width: 100%;
    padding: 9px 20px 9px 10px;
    color: #4b4e53;
}

#single .col-4 input {
    border: 1px solid #dedede;
    padding: 9px 15px;
}

#single .col-8 .btn {
    color: #fff;
    background-color: #535961;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    border: none;
    border-radius: 2px;
    transition: all .3s ease 0s;
    position: relative;
}

/* }
#single .col-8 .fa{
    color: #7e8082;
    margin-left: 15px;
} */
#single .div {
    color: #7e8082;
}

#single .div a {
    color: black;
}

#single .tab {
    margin-top: 50px;
}

#single .tab ul {
    margin-bottom: 20px !important;
    border-bottom: 1px solid #ddd;
    padding-left: 0;
}

#single .tab ul li {
    float: left;
    margin-bottom: -1px;
    padding-bottom: 10px;
}

#single .tab ul li .active {
    color: #101010;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

#single .tab ul li a {
    border-radius: 0;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 14px 20px !important;
    color: #4b4e53;
}

#single .tab-content p {
    color: #7e8082;
}

#single .product .col-3 {
    margin-top: 25px;
}

#single .product .col-3 img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

#single .product .col-3 h3 {
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    margin-top: 20px;
}

#single .product .col-3 h3 a {
    color: #4b4e53;

}

#single .product .col-3 strong {
    color: black;
}

#single .product .col-3 img:hover {
    opacity: 0.6;
}

#icons {
    background-color: #303236;
    padding-top: 110px;
    padding-bottom: 80px;
}

#icons .col-3 i {
    font-size: 40px;
    line-height: 40px;
    color: white;
}

#icons .col-3 h6 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 12px;
    letter-spacing: normal;
    line-height: 18px;
    margin: 18px 0 13px 0;
}

#firma {
    margin-top: 70px;
    margin-bottom: 70px;
}

#firma img {
    height: 100px;
    max-width: 100%;
}

#firma .col-2 {
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 1px solid #eee;
    border-bottom: 1px soldi #eee;
    text-align: center;
}

/* HOME-SHOP PAGE */
#shop-slider {
    background: url('../assets/img/shop1.jpg');
}

#shop-slider .row {
    padding-top: 200px;
    padding-bottom: 100px;
}

#shop-slider h2 {
    top: 35%;
    left: 0px;
    opacity: 1;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 90px;
    line-height: 100px;
    font-weight: 100;
    color: #fff;
    padding: 0;
    margin: 0;
}

#shop-slider p {
    bottom: 35%;
    left: 0px;
    opacity: 1;
    z-index: 50;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 90px;
    line-height: 100px;
    font-weight: 100;
    color: #fff;
    padding: 0;
    margin: 0;
}

#collection {
    margin-top: 100px;
    margin-bottom: 100px;
}

#collection .col-4 a {
    display: block;
    overflow: hidden;
}

#collection .col-4 img {
    transition: all .3s cubic-bezier(.3, .1, .58, 1);
    width: 100%;
    max-width: 100%;
    height: auto;
}

#collection .col-4 a:hover {
    transition: all .3s ease 0s;
    cursor: pointer;
}

#collection .col-4 a:hover img {
    transform: scale(1.3) translateZ(0);
}

#collection .col-4 a .desc {
    position: absolute;
    margin-left: 24px;
    margin-top: -110px;
    background: #fff;
    padding: 17px 20px 15px 20px;
    min-width: 160px;
}

#collection .col-4 a .desc h4 {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: normal;
    line-height: 25px;
    color: #4b4e53;
}

#collection .col-4 a .desc span {
    color: #7e8082;
}

#collection .col-8 a img {
    width: 730px !important;
    margin-top: -230px;
    height: 260px !important;
}

#collection .col-8 .descc {
    position: absolute;
    margin-left: 24px;
    margin-bottom: 20px;
    background: #fff;
    padding: 17px 20px 15px 20px;
    margin-top: -100px;
    min-width: 160px;
    background-color: #ffea00 !important;
}

#collection .col-8 h4 {
    font-size: 18px;
    letter-spacing: normal;
    line-height: 25px;
    color: #4b4e53;
}

#collection .col-8 a:hover {
    color: #97999c;
    transition: all .3s ease 0s;
    cursor: pointer;
}

#newcollection {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

#newcollection .container {
    background-color: #eee;
}

#newcollection h3 {
    font-weight: 100;
    font-size: 34px;
    line-height: 40px;
    color: #4b4e53;
    margin-top: 50px;
}

#newcollection .now {
    height: 200px;
    padding-bottom: 40px;
    padding-top: 40px;
}

#newcollection .now .store {
    display: inline-block;
    margin-bottom: -50px;
    background: #fff;
}

#news .col-3 {
    margin-top: 50px;
}

#news .col-3 img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

#news .col-3 h3 {
    margin-top: 20px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}

#news .col-3 h3 a {
    color: #7e8082;
    font-weight: 400 !important;
}
#news .col-3 .desc .btn{
    color: #4b4e53;
    margin-top: 10px;
    background-color: #d7d9dc;
    padding: 10px 37px 10px 37px;
    display: inline-block;
    border: none;
    border-radius: 2px;
}
#news .col-3 .desc .btn:hover{
    background-color: #4b4e53;
    color: #fff;
    cursor: pointer;
}
#news .col-3 img:hover{
    opacity: 0.6;
}